{% extends "base.html" %}
{% block content %}
    <div class="container fade-in">
        <h1>Добро пожаловать в мир касаток!</h1>
        <img src="static/scale_1200.jpg" alt="Касатки" class="orca-img">
        <p>
            Касатка (Orcinus orca) — удивительное морское млекопитающее, известное своим интеллектом, сложной социальной структурой и уникальными звуками. На этом сайте вы сможете узнать больше о жизни касаток и послушать их настоящие голоса!
        </p>
        <div class="main-facts">
            <div class="fact-block">Касатки — одни из самых умных животных на планете 🌍</div>
            <div class="fact-block">Они живут семьями и общаются с помощью уникальных звуков</div>
            <div class="fact-block">Касатки могут путешествовать на тысячи километров!</div>
        </div>
        <h2>Звуки касаток</h2>
        <div class="audio-sample card">
            <strong>Пример звука касатки:</strong><br>
            <audio controls>
                <source src="/static/1504175794_zvuk-kasatki.mp3" type="audio/mpeg">
                Ваш браузер не поддерживает аудио.
            </audio>
        </div>
        <p>
            Касатки используют различные звуки для общения, охоты и навигации.<br>
            На нашем сайте вы сможете узнать больше о типах звуков и их значении.
        </p>
    </div>
{% endblock %} 